@media screen and (max-width: 1024px) {
    html,
    body {
        height: 100%;
    }

    .header-container {
        position: fixed;
        top: 0;
        width: 100%;
        height: toRem(56);
        background: #fff;
        z-index: 10;

        .header-inner {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0 toRem(24);
        }

        .navi-container {
            position: fixed;
            top: 0;
            right: -100%;
            width: calc(100% - toRem(40));
            height: 100%;
            transition: all 0.3s ease-in-out;
            z-index: 100;

            &::before {
                content: '';
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.6);
                opacity: 0;
                pointer-events: none;
                transition: all 0.3s ease-in-out;
            }

            .menu-btn {
                position: fixed;
                display: block;
                top: toRem(8);
                right: toRem(8);
                width: toRem(40);
                height: toRem(40);
                background: #e5e5e5;
                z-index: 1;
            }

            .navi-inner {
                width: 100%;
                height: 100%;
                background: #fff;

                .menu-list {
                    display: block;
                    padding-top: toRem(56);

                    a {
                        justify-content: flex-start;
                        height: toRem(40);
                        padding: 0 toRem(24);
                    }
                }
            }

            &.open {
                right: 0;

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    .main-container {
        align-items: flex-start;
        min-height: auto;
        height: calc(100vh - toRem(56));
        margin-top: toRem(56);

        .main-contents {
            width: 100%;
            padding: toRem(16) toRem(24) toRem(60);
        }
    }

    /***** tabs *****/
    .tabs-wrap {
        margin-left: toRem(-24);
        margin-right: toRem(-24);

        .tab-list {
            padding: 0 toRem(8);
            overflow-y: auto;
        }
    }

    /***** calendar *****/
    .calendar {
        min-width: auto;
        border: 0;
        margin-left: toRem(-24);
        margin-right: toRem(-24);

        .calendar-wrap {
            min-width: auto;
        }

        .calendar-dates {
            .date-item {
                padding: toRem(4);
            }
        }
    }

    /***** form *****/
    .form-wrap {
        &.datepicker {
            display: block;
        }

        .form-item + .form-item {
            margin-top: toRem(24);
        }

        .dialog-calendar {
            position: fixed;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
            background: rgba(0, 0, 0, 0.6);

            .calendar {
                position: relative;
                width: 100%;
                padding: toRem(64) toRem(24) toRem(40);
                border-top-left-radius: toRem(18);
                border-top-right-radius: toRem(18);
                margin: 0;
                transform: translateY(100%);
                animation-name: calendar-bottom;
                animation-duration: 0.2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;

                .cal-close {
                    position: absolute;
                    top: toRem(8);
                    right: toRem(8);
                    width: toRem(40);
                    height: toRem(40);

                    &::before {
                        content: '';
                        position: absolute;
                        display: block;
                        top: calc(50% - toRem(1));
                        left: calc(50% - toRem(12));
                        width: toRem(24);
                        height: toRem(2);
                        background: #212121;
                        transform: rotateZ(45deg);
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        display: block;
                        top: calc(50% - toRem(12));
                        left: calc(50% - toRem(1));
                        width: toRem(2);
                        height: toRem(24);
                        background: #212121;
                        transform: rotateZ(45deg);
                    }
                }

                .calendar-header {
                    .calendar-tit {
                        font-size: toRem(20);
                    }

                    button[class*='-cal'] {
                        width: toRem(30);
                        height: toRem(30);
                    }
                }

                .calendar-dates .date-item > span {
                    font-size: toRem(16);
                }
            }
        }
    }

    .modal-layout.v-dialog {
        &.full {
            .v-overlay__content {
                width: 100%;

                .modal-wrap.v-card {
                    border-radius: 0;
                }
            }

            .modal-header {
                display: flex;
                align-items: center;
                height: toRem(56);
                padding: 0 toRem(24);
                background: #fff;
                z-index: 1;

                .modal-title {
                    font-size: toRem(20);
                }
            }

            .modal-body {
                max-height: none;
                height: calc(100vh - toRem(152));
            }

            .modal-footer {
                background: #fff;
                z-index: 1;
            }

            .modal-close {
                top: toRem(8);
                right: toRem(8);
                z-index: 2;
            }
        }

        &.v-bottom-sheet.bottom {
            .v-overlay__content {
                align-self: flex-end;
                left: 0;
                right: 0;
                width: 100%;
                max-height: calc(100vh - toRem(56));

                .modal-wrap.v-card {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;

                    .modal-body {
                        min-height: toRem(100);
                        max-height: calc(100vh - toRem(236));
                    }
                }
            }
        }
    }
}

@keyframes calendar-bottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
